@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body
{
    background-color:antiquewhite;
}
*
{
    margin: 0;
    padding: 0;
}
.a1
{
    text-decoration:none;
    color: white;
}
nav
{
   font-family:'Ubuntu' , sans-serif;
}
nav ul li
{
    padding: 0px 12px;
}
nav ul
{
    display: flex;
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
    align-items: center;

}
.container
{
   min-height:75vh;
   background-color: black;
   color: white;
   font-family: 'Varela Round',sans-serif;
   display: flex;
   width:70%;
   margin:23px auto;
   border-radius:12px;
   padding: 34px;
   background-image: url(img//music.jpg);
   background-size: cover;
}
.brand img
{
    width:44px;
    padding:0px 8px;
}
.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem;
}
.bottom
{
    position:sticky;
    bottom:0px;
    height:130px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myprogressbar
{
    width:75vw;
}
.icons
{
    margin-top:15px;
}
.icons i
{
    cursor: pointer;
}
.songiteam
{
    height:50px;
    display: flex;
    margin:12px 0px;

}
.timestamp
{
    margin:0 23px;
}
.songinfo
{
    position:absolute;
    left:10vw;
    font-family: 'Varela Round',sans-serif;
}
.songinfo img
{
    opacity:0;
    transition: opacity 0.8s ease-in;
}
#myprogressbar
{
    cursor: pointer;
}
.songiteamplay 
{
  cursor:pointer;
 
     
}
#perivious,#masterplay,#next
{
    margin-left:5px;
}